In [ ]:
# dir()

print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
for i in dir(str):
  print(i)

__add__
__class__
__contains__
__delattr__
__dir__
__doc__
__eq__
__format__
__ge__
__getattribute__
__getitem__
__getnewargs__
__gt__
__hash__
__init__
__init_subclass__
__iter__
__le__
__len__
__lt__
__mod__
__mul__
__ne__
__new__
__reduce__
__reduce_ex__
__repr__
__rmod__
__rmul__
__setattr__
__sizeof__
__str__
__subclasshook__
capitalize
casefold
center
count
encode
endswith
expandtabs
find
format
format_map
index
isalnum
isalpha
isascii
isdecimal
isdigit
isidentifier
islower
isnumeric
isprintable
isspace
istitle
isupper
join
ljust
lower
lstrip
maketrans
partition
replace
rfind
rindex
rjust
rpartition
rsplit
rstrip
split
splitlines
startswith
strip
swapcase
title
translate
upper
zfill

In [ ]:
l = []
for i in dir(str):
  if not i.startswith('_') and not i.endswith('_'):
    l.append(i)
else:
  print(l)

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
def filtered_dir(obj):
  l = []
  for i in dir(obj):
    if not i.startswith('_') and not i.endswith('_'):
      l.append(i)
  else:
    return l

In [ ]:
filtered_dir(str)

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# index viewer

string = 'welcometopython'

In [ ]:
for s in string:
  print(s, end="|")

w|e|l|c|o|m|e|t|o|p|y|t|h|o|n|

In [ ]:
for s in string:
  print(string.index(s), end="|")

0|1|2|3|4|5|1|7|4|9|10|7|12|4|14|

In [ ]:
len(string)

15

In [ ]:
for s in range(len(string)):
  print(s, end="|")

0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|

In [ ]:
for s in string:
  print(s, end="|")

print()

for s in range(len(string)):
  print(s, end="|")

w|e|l|c|o|m|e|t|o|p|y|t|h|o|n|
0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|

In [ ]:
for i in range(len(string)):
  print(string[i], end="|")

w|e|l|c|o|m|e|t|o|p|y|t|h|o|n|

In [ ]:
for i in range(len(string)):
  if i < 10:
    print(string[i], end=" | ")
  else:
    print(f" {string[i]}", end=" | ")
else:
  print()
  print('-' * 65)

for s in range(len(string)):
  print(s, end=" | ")

w | e | l | c | o | m | e | t | o | p |  y |  t |  h |  o |  n |
-----------------------------------------------------------------
0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 |

In [ ]:
def index_viewer(obj):
  for i in range(len(obj)):
    if i < 10:
      print(obj[i], end=" | ")
    else:
      print(f" {obj[i]}", end=" | ")
  else:
    print()
    print('-' * (3 * len(obj)))

  for s in range(len(obj)):
    print(s, end=" | ")

In [ ]:
index_viewer('welcometotopstechnologies')

w | e | l | c | o | m | e | t | o | t |  o |  p |  s |  t |  e |  c |  h |  n |  o |  l |  o |  g |  i |  e |  s |
---------------------------------------------------------------------------
0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 |

In [ ]:
index_viewer('welcome to tops technologies')

w | e | l | c | o | m | e |   | t | o |    |  t |  o |  p |  s |    |  t |  e |  c |  h |  n |  o |  l |  o |  g |  i |  e |  s |
------------------------------------------------------------------------------------
0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 |

In [ ]:
index_viewer([2,1,3,6,5,4,5,2,1])

2 | 1 | 3 | 6 | 5 | 4 | 5 | 2 | 1 |
---------------------------
0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 |

In [ ]:
# [
#  [2,1,3,6,5,4,5,2,1],
#  [0,1,2,3,4,5,6,7,8],
# ]

In [ ]:
# [{},{}]

info = [
        {
            'name': 'parth',
         'city': 'ahmedabad',
        },
        {
            'name': 'meet',
         'city': 'surat'
        },
]

In [ ]:
info

[{'city': 'ahmedabad', 'name': 'parth'}, {'city': 'surat', 'name': 'meet'}]

In [ ]:
for d in info:
  print(d)

{'name': 'parth', 'city': 'ahmedabad'}
{'name': 'meet', 'city': 'surat'}

In [ ]:
for d in info:
  for i in d.values():
    print(i)

parth
ahmedabad
meet
surat

In [ ]:
for d in info:
  for i in d.values():
    print(i, end=" ")
  print()

parth ahmedabad
meet surat

In [ ]:
for i in info[0]:
  print(i, end="\t|\t")

print()

for d in info:
  for i in d.values():
    print(i, end="\t|\t")
  print()

name	|	city	|
parth	|	ahmedabad	|
meet	|	surat	|

In [ ]:
info2 = {
    1 : {'name': 'parth', 'city': 'ahmedabad'},
    2 : {'name': 'meet', 'city': 'surat'},
}

In [ ]:
info2[1]

{'city': 'ahmedabad', 'name': 'parth'}

In [ ]:
for d in info2:
  print(d)

1
2

In [ ]:
for d in info2:
  # print(info2[d])
  
  for i in info2[d].values():
    print(i, end="\t|\t")
  print()

parth	|	ahmedabad	|
meet	|	surat	|

In [ ]:
info = [
        {
            'name': 'parth',
         'city': 'ahmedabad',
         'country': '-',
        },
        {
            'name': 'meet',
         'city': 'surat',
         'country': 'india',
        },
]

for i in info[0]:
  print(i, end="\t|\t")

print()

for d in info:
  for i in d.values():
    print(i, end="\t|\t")
  print()

name	|	city	|	country	|
parth	|	ahmedabad	|	-	|
meet	|	surat	|	india	|

In [ ]:
task = {
    '2': 7894,
    7984: 'hello7897',
    'names': ['meet','parth','kinjal'],
    'cities': {
        'gujarat': ['ahmedabad','vadodara','nadiyad'],
        'rajasthan': ('ajmer', 'pali', 'jaipur')
    }
}

In [ ]:
task

{'2': 7894,
 7984: 'hello7897',
 'cities': {'gujarat': ['ahmedabad', 'vadodara', 'nadiyad'],
  'rajasthan': ('ajmer', 'pali', 'jaipur')},
 'names': ['meet', 'parth', 'kinjal']}

In [ ]:
a = input('enter to find: ')

if a in str(task):
  print(True)
else:
  print(False)

enter to find: vado
True

In [ ]:
str(task)

"{'2': 7894, 7984: 'hello7897', 'names': ['meet', 'parth', 'kinjal'], 'cities': {'gujarat': ['ahmedabad', 'vadodara', 'nadiyad'], 'rajasthan': ('ajmer', 'pali', 'jaipur')}}"

In [ ]:
# bank example

bank = {}
# account number - auto increment
# account details
# methods - transactions/check balance/mini statement

In [ ]:
preset_acc_num = 7894165000

In [ ]:
len('') + preset_acc_num

7894165000

In [ ]:
len('') + preset_acc_num + 1

7894165001

In [ ]:
len('0') + preset_acc_num + 1

7894165002

In [ ]:
len(bank) + preset_acc_num + 1

7894165001

In [ ]:
# create account number
bank = {}
preset_acc_num = 7894165000

def create_acc_number(bank_obj):
  return len(bank_obj) + preset_acc_num + 1

In [ ]:
# create account

from random import randint
def create_new_account(acc_num, **details):
  d = {
      'pin': randint(1000, 9999),
       'transactions': [],
  }

  d.update(details)
  bank[acc_num] = d

In [ ]:
# transactions preset

from datetime import datetime
def transaction(amount, tr_type):
  d = {
      'datetime': datetime.now(),
       'amount': amount,
       'tr_type': tr_type,
  }
  return d

In [ ]:
# check methods

create_acc_number(bank)

7894165001

In [ ]:
bank = {}

acc_num = create_acc_number(bank)

init_balance = 1000.0


create_new_account(acc_num, name='parth', balance=init_balance)

txn = transaction(init_balance, 'cr')
bank[acc_num]['transactions'].append(txn)

In [ ]:
bank

{7894165001: {'balance': 1000.0,
  'name': 'parth',
  'pin': 3459,
  'transactions': [{'amount': 1000.0,
    'datetime': datetime.datetime(2022, 5, 7, 13, 11, 45, 775985),
    'tr_type': 'cr'}]}}

In [ ]:
acc_num = create_acc_number(bank)

init_balance = 1000.0

create_new_account(acc_num, name='parth', balance=init_balance)

txn = transaction(init_balance, 'cr')
bank[acc_num]['transactions'].append(txn)

In [ ]:
bank

{7894165001: {'balance': 1000.0,
  'name': 'parth',
  'pin': 5474,
  'transactions': [{'amount': 1000.0,
    'datetime': datetime.datetime(2022, 5, 7, 13, 11, 58, 746406),
    'tr_type': 'cr'}]},
 7894165002: {'balance': 1000.0,
  'name': 'parth',
  'pin': 3713,
  'transactions': [{'amount': 1000.0,
    'datetime': datetime.datetime(2022, 5, 7, 13, 12, 13, 658443),
    'tr_type': 'cr'}]}}

In [ ]:
# widthdrawl

def widthdrawl(acc_num, amount):
  bank[acc_num]['balance'] -= amount
  txn = transaction(amount, 'dr')
  bank[acc_num]['transactions'].append(txn)

In [ ]:
widthdrawl(7894165001, 500)

In [ ]:
bank

{7894165001: {'balance': 500.0,
  'name': 'parth',
  'pin': 5474,
  'transactions': [{'amount': 1000.0,
    'datetime': datetime.datetime(2022, 5, 7, 13, 11, 58, 746406),
    'tr_type': 'cr'},
   {'amount': 500,
    'datetime': datetime.datetime(2022, 5, 7, 13, 12, 51, 686558),
    'tr_type': 'dr'}]},
 7894165002: {'balance': 1000.0,
  'name': 'parth',
  'pin': 3713,
  'transactions': [{'amount': 1000.0,
    'datetime': datetime.datetime(2022, 5, 7, 13, 12, 13, 658443),
    'tr_type': 'cr'}]}}

In [ ]:
def deposite(acc_num, amount):
  bank[acc_num]['balance'] += amount
  txn = transaction(amount, 'cr')
  bank[acc_num]['transactions'].append(txn)

In [ ]:
deposite(7894165001, 10500)

In [ ]:
bank

{7894165001: {'balance': 21500.0,
  'name': 'parth',
  'pin': 5474,
  'transactions': [{'amount': 1000.0,
    'datetime': datetime.datetime(2022, 5, 7, 13, 11, 58, 746406),
    'tr_type': 'cr'},
   {'amount': 500,
    'datetime': datetime.datetime(2022, 5, 7, 13, 12, 51, 686558),
    'tr_type': 'dr'},
   {'amount': 10500,
    'datetime': datetime.datetime(2022, 5, 7, 13, 14, 28, 915155),
    'tr_type': 'dr'},
   {'amount': 10500,
    'datetime': datetime.datetime(2022, 5, 7, 13, 14, 39, 187982),
    'tr_type': 'cr'},
   {'amount': 10500,
    'datetime': datetime.datetime(2022, 5, 7, 13, 16, 42, 158915),
    'tr_type': 'cr'}]},
 7894165002: {'balance': 1000.0,
  'name': 'parth',
  'pin': 3713,
  'transactions': [{'amount': 1000.0,
    'datetime': datetime.datetime(2022, 5, 7, 13, 12, 13, 658443),
    'tr_type': 'cr'}]}}

In [ ]:
bank[7894165001]['balance']

500.0

In [ ]:
bank[7894165001]['balance'] + 10500

11000.0

In [ ]:
bank[7894165001]['balance'] += 10500

In [ ]:
bank[7894165001]['balance']

11000.0

In [ ]:
acc = input('enter your account number: ')